*.class
*.pyc

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# Ignore libs
lib/*
build/*
.gradle/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.DS_Store

# PyCharm files
*.idea/

# additional configuration overrides for provisioning a local Jenkins sandbox
ansible_overrides.yml
