version: "3"
services:
  edxops-jenkins:
    image: edxops/tools_jenkins:latest
    container_name: tools-jenkins-docker-in-docker
    volumes:
      - jenkins:/edx/var/jenkins
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "127.0.0.1:8080:8080"

volumes:
  jenkins:
